<% topic.bookmarks.each do |bookmark| %>
  <div class="row">
    <div class="col-sm-8">
      <h4 class="color"><%= link_to bookmark.description, topic_bookmark_path(topic, bookmark) %></h4> 
      <%= link_to "#{bookmark.url}", "#{bookmark.url}" %>
      <br>
    </div>
  </div>
<% end %>
