<h1><%= @topic.title %></h1>
<br>
<%= link_to "Edit", edit_topic_path, class: 'btn btn-success' %>
<%= link_to "Destroy", @topic, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this topic along with all the bookmarks?'} %>
