<% likes.each do |like| %>
  <div class="row">
    <div class="col-sm-8">
      <h4><%= link_to like.bookmark.description, topic_bookmark_path(topic, like.bookmark) %></h4>
      <%= link_to "#{like.bookmark.url}", "#{like.bookmark.url}" %>
      <% if current_user == like.bookmark.user %>
        | <%= link_to "Unlike", [topic, like.bookmark], method: :delete %>
      <% end %>
      <br>
      <%= topic.title %>
      <br>
    </div>
  </div>
<% end %>
